<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>LoRa GPS Tracker</title>

  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""
  />

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div id="map"></div>
  <div id="status">Waiting for GPS data...</div>

  <script
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""
  ></script>

  <script>
    const map = L.map("map").setView([0, 0], 2);
  // Add a way to swap between, satellite, terrain, and minimal
    L.tileLayer(
  "https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}",
  {
    maxZoom: 20,
    attribution:
      "Tiles © Esri — Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and others"
  }
).addTo(map);

    let marker = L.marker([0, 0]).addTo(map);
    const statusEl = document.getElementById("status");

    // Get location data
    async function fetchLocation() {
      try {
        const res = await fetch("/api/location");
        if (!res.ok) {
          statusEl.textContent = "No location data yet...";
          return;
        }

        const data = await res.json();
        const { lat, lon, alt, timestamp } = data;

        if (lat == null || lon == null) {
          statusEl.textContent = "No valid coordinates.";
          return;
        }

        const latNum = Number(lat);
        const lonNum = Number(lon);

        // Set marker and map to the new lat and long
        marker.setLatLng([latNum, lonNum]);
        map.setView([latNum, lonNum]);

        // Get date and print status to console
        const date = timestamp ? new Date(timestamp * 1000) : null;
        statusEl.textContent =
          `Lat: ${latNum.toFixed(6)}, Lon: ${lonNum.toFixed(6)}` +
          (alt != null ? `, Alt: ${alt} m` : "") +
          (date ? ` (updated: ${date.toLocaleTimeString()})` : "");
      } catch (err) {
        console.error(err);
        statusEl.textContent = "Error talking to backend.";
      }
    }

    // Refresh every 2 seconds
    fetchLocation();
    setInterval(fetchLocation, 2000);
  </script>
</body>
</html>
